
// get our imports out of the way
@import 'colors'
@import 'constants'
@import 'fonts'
@import 'mixins'

// HTML Elements

body

    height: 100%
    width: 100%
    font-family: 'Roboto', 'Helvetica Neue', sans-serif
    font-weight: 300
    color: $text_color
    padding: 2rem

// Clocks

.primary-time
    font-size: 4em    
    line-height: 1em

.secondary-time
    font-size: 2em
    line-height: 1em

.title
    font-weight: bold
    color: $gray


// Wrappers

.page-wrapper 
    max-width: $max_width
    margin: auto

.clocks-wrapper
    margin: 3rem 0
    padding-top: 2em
    border-top: 1px solid $faint_gray

.title
    margin-top: 1em
    border-top: 1px solid $light_gray

// Sections

section.settings

    border-top: 1px solid $gray

    .row
        margin: 10px 

section.clocks

.clocks-wrapper
    vertical-align: bottom



// Tablet Exclusive
@media screen and (max-width: $breakpoint_tablet)



// Phone Exclusive
@media screen and (max-width: $breakpoint_phone)

    body
        padding: 0

    .hide-from-mobile
        display: none

