<div class="page-wrapper">

    <div id="info-alert" class="alert alert-dismissable alert-info">
        <button type="button" class="close" ng-click="mc.close_alert()">×</button>
        <strong>NOTICE:</strong> Use the "Update Interval" at the bottom to control how often the clocks update.
        The original instructions required the clocks to update every 5000 milliseconds, but this is too slow for my liking.
        That said, the clocks can be set to update every 5000 milliseconds to fulfill the requirement.
    </div>

    <div class="logo">
        <i class="fa fa-globe"></i>
        <i class="fa fa-clock-o"></i>
    </div>

    <clocks></clocks>
    <settings></settings>

</div>

