<section class="settings">

    <div class="row">
        <h4>Settings</h4>
    </div>

    <!-- first city -->
    <div class="row">
        <span class="col-xs-12 col-sm-6">
            <h5>Time difference for London</h5>
        </span>
        <span class="col-xs-12 col-sm-3">
            <input class="form-control" type="text" placeholder="" value="+5" />
        </span>
        <span class="col-xs-12 col-sm-3">
            <button class="btn btn-sm btn-primary form-control">Submit</button>
        </span>
        <div class="clearfix"></div>
    </div>
    <!-- first city -->

    <!-- second city -->
    <div class="row">
        <span class="col-xs-12 col-sm-6">
            <h5>Time difference for Sydney</h5>
        </span>
        <span class="col-xs-12 col-sm-3">
            <input class="form-control" type="text" placeholder="" value="+5" />
        </span>
        <span class="col-xs-12 col-sm-3">
            <button class="btn btn-sm btn-primary form-control">Submit</button>
        </span>
        <div class="clearfix"></div>
    </div>
    <!-- second city -->

</settings>

