<!doctype html>
<html lang="en" data-ng-app="ats">
<head>

    <title>ATS Global Test</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <!-- let's use a theme and make it a bit prettier :) -->
    <link href="http://bootswatch.com/lumen/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/vendor/sweet-alert/sweet-alert.css">
    <link rel="stylesheet" href="/static/css/styles.css"/>

    <!-- scripts -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
    <script src="/static/vendor/sweet-alert/sweet-alert.min.js"></script> 

    <!-- custom -->
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/app.js"></script>

    <!-- IE nonsense -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <header></header>
    <div id="page-wrapper">
        <div data-ng-view></div>
    </div>
    <footer></footer>

</body>
</html>

